@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: title;
  src: url(fonts/font.ttf);
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}
.logo-group {
  display: flex;
  align-items: center;
}
.logo {
  height: 150px;
  width: 150px;
}
.logo-text {
  font-size: 2.5rem;
  inline-size: 1px;
  margin-left: 10px;
  font-family: 'title';
}
.logo:hover,
.nav-button:hover,
.fa-github:hover {
  cursor: pointer;
}
.nav-button {
  margin-right: 25px;
  font-family: 'title';
  border-style: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}
.nav-button:hover {
  background-color: white;
  color: black;
}

.main {
  height: 750px;
  width: 1500px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  font-size: 1.75rem;
}
/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  color: white;
  font-size: 1.4rem;
  background: rgba(0, 0, 0, 0.9);
}
.fa-github {
  font-size: 3rem;
  margin-left: 10px;
  color: white;
  margin-right: 5px;
}

/* Home */
.home-logo {
  margin: 50px 0 25px 0;
  height: 500px;
  width: 500px;
  border-radius: 50%;
}

.active-button {
  background-color: white;
  color: black;
}

/* Menu */
.menu-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.menu-group:hover {
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.menu-img {
  height: 175px;
  width: 175px;
}

/* Contact */
.map {
  margin-top: 10px;
  height: 600px;
  width: 1000px;
}
