/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
  font-family: title;
  src: url(fonts/font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Content */
#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo {
  height: 150px;
  width: 150px;
}

.logo-text {
  margin-left: 10px;
  font-size: 2.5rem;
  inline-size: 1px;
  font-family: 'title';
}

.logo:hover,
.nav-button:hover,
.fa-github:hover {
  cursor: pointer;
}

.nav-button {
  margin-right: 25px;
  padding: 15px;
  border-radius: 10px;
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  font-family: 'title';
}

.nav-button:hover {
  background-color: white;
  color: black;
}

/* Main */
.main {
  height: 750px;
  width: 1500px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  text-align: center;
  font-size: 1.75rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 1.5rem;
}

.fa-github {
  margin-right: 5px;
  color: white;
  font-size: 3rem;
}

/* Home */
.home-logo {
  height: 500px;
  width: 500px;
  margin: 50px 0 25px 0;
  border-radius: 10px;
}

/* Menu */
.menu-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.menu-group:hover {
  background: black;
  cursor: pointer;
}

.menu-img {
  height: 175px;
  width: 175px;
}

/* Contact */
.map {
  margin-top: 10px;
  height: 600px;
  width: 800px;
}

.active-button {
  background-color: white;
  color: black;
}
